
<div class="container"  >

  <div class="row " >
    <div class="col-lg-12">
      <button
        class="btn btn-outline-info my-2 my-sm-0 float-end"
        (click)="changeLanguage()"
      >
        {{ language }}
      </button>
    </div>
  </div>


  <div class="row mt-4">
    <div
      class="card col-lg-4 mx-2 mt-4"
      *ngFor="let tv of alltvShow"
      style="width: 300px"
    >

        <img
          src="{{ imagePath + tv.poster_path }}"
          class="card-img-top"
          alt="..."
        >

      <div class="card-body">
        <h3 class="card-title">{{ tv.name }}</h3>


      </div>
    </div>
  </div>
  <div class="row ">
    <mat-paginator [length]="totaltvShow"
    [pageSize]="pageSize"
    aria-label="Select page"
    (page)="changePage($event)"
    >
  </mat-paginator>
  </div>

   </div>
